@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

#card{
    height: 600px;
    width: 400px;
    border-radius: 5%;
    font-size: 140px;
}

button{
    height: 80px;
}